#favorit {
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/stern_leer.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

#favorit.aktiv {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/stern_hell.png');
}

#favorit.aktiv:hover {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/stern_hover.png'),
		url('chrome-extension://__MSG_@@extension_id__/img/stern_hell.png');
}

#favorit:hover {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/stern_hover.png'),
		url('chrome-extension://__MSG_@@extension_id__/img/stern_leer.png');
}

#preisagent {
	width: 16px;
	height: 16px;
	float: right;
	position: relative;
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/preisagent_on.png');
	background-repeat: no-repeat;
	cursor: pointer;
}

#preisagent.aktiv {
	background-image: url('chrome-extension://__MSG_@@extension_id__/img/preisagent_off.png');
}

#preistabs tr.t1 td:nth-child(1),#preistabs tr.t2 td:nth-child(1) {
	width: 70px;
}

#preistabs tr.t1 td:nth-child(2) {
	width: 160px;
}

#preistabs tr.t1 td:nth-child(3) {
	width: 120px;
}

#preistabs tr.t1 td:nth-child(4) {
	width: 90px;
}

#preistabs .av_inl {
	height: auto;
}

#artikel_thumb {
	float: left;
}

#artikel_thumb img {
	padding: 0px 5px;
	cursor: pointer;
}

#artikel_thumb p {
	text-align: center;
	margin: 0px;
	height: auto;
}

#ghgallery {
	float: left;
	display: none;
}

#diverse_infos {
	float: left;
	width: 500px;
	max-height: 150px;
	overflow: auto;
}

#gh_proddesc, #gh_proddesc_left {
	max-width: 500px;
}

#gh_proddesc ul {
	margin: 0;
	padding-left: 30px;
}

.ui-autocomplete {
	max-height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}

.haendler_ausblenden {
	display: none;
}

.haendler_hervorheben {
	background-color: peachpuff !important;
}

.haendler_bearbeiten_icon {
	vertical-align: middle;
	cursor: pointer;
}

.flag_links {
	float: left;
	overflow: visible;
	width: 0;
}

.gh_hl1 a:nth-child(3) {
	color: #903;
}

#endloser_geizhals {
	text-align: center;
	height: 40px;
	width: 100%;
}