#favorit {
	width: 30px;
	height: 30px;
	float: left;
	position: relative;
	background-image: url(chrome-extension://daefgmcpnmbecchplnffpgpjbcoppcne/images/stern_leer.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

#favorit.aktiv {
	background-image: url(chrome-extension://daefgmcpnmbecchplnffpgpjbcoppcne/images/stern_hell.png);
}

#favorit.aktiv:hover {
	background-image: url(chrome-extension://daefgmcpnmbecchplnffpgpjbcoppcne/images/stern_hover.png),
		url(chrome-extension://daefgmcpnmbecchplnffpgpjbcoppcne/images/stern_hell.png);
}

#favorit:hover {
	background-image: url(chrome-extension://daefgmcpnmbecchplnffpgpjbcoppcne/images/stern_hover.png),
		url(chrome-extension://daefgmcpnmbecchplnffpgpjbcoppcne/images/stern_leer.png);
}

#preisagent {
	width: 16px;
	height: 16px;
	float: right;
	position: relative;
	background-image: url(chrome-extension://daefgmcpnmbecchplnffpgpjbcoppcne/images/preisagent_on.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

#preisagent.aktiv {
	background-image: url(chrome-extension://daefgmcpnmbecchplnffpgpjbcoppcne/images/preisagent_off.png);
}